<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aggiungi Sede</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aggiungi Sede</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aggiungi il tuo form qui -->
  <form [formGroup]="sedeForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Codice Sede</ion-label>
      <ion-input formControlName="Codice_sede"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nome sede</ion-label>
      <ion-input formControlName="Sede"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Codice Cliente</ion-label>
      <ion-input formControlName="Codice_cliente"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger" fill="outline" (click)="onCancel()">Annulla</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" type="submit" [disabled]="!sedeForm.valid">Conferma</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>