<ion-header>
  <ion-toolbar>
    <ion-title>{{tipo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (click)="onContentClick($event)">
  <ion-card>
    <!-- Campo di autocompletamento per Cliente/Sede -->
    <ion-item *ngIf="!idRichiesta" (click)="onSearchSedeClick($event)">
      <ion-label position="stacked">Cliente/Sede</ion-label>
      <ion-searchbar [(ngModel)]="searchTermSede" search-icon="business-outline"
                     (ionInput)="filterSedi($event)"
                     (ionClear)="clearSelectedSede()"
                     placeholder="Seleziona cliente/sede" 
                     class="custom-searchbar"
                     [disabled]="disableMod"></ion-searchbar>
    </ion-item>
    <div *ngIf="showAutocompleteSede && sediFiltered.length > 0" class="autocomplete-list">
      <ion-list>
        <ion-item *ngFor="let item of sediFiltered" (click)="selectSede(item)">
          {{ item.displayValue }}
        </ion-item>
      </ion-list>
    </div>
    <ion-item (click)="onSearchCommesseClick($event)">
      <ion-label position="stacked">Commessa</ion-label>
      <ion-searchbar [(ngModel)]="searchTermCommesse" search-icon="briefcase-outline" 
                     (ionInput)="filterCommesse($event)" 
                     (ionClear)="clearSelectedCommessa()"
                     placeholder="Seleziona commessa" 
                     class="custom-searchbar"
                     [disabled]="disableMod"></ion-searchbar>
    </ion-item>
    <div *ngIf="showAutocompleteCommesse && commesseFiltered.length > 0" class="autocomplete-list">
      <ion-list>
        <ion-item *ngFor="let item of commesseFiltered" (click)="selectCommessa(item)">
          {{ item.displayValue }}
        </ion-item>
      </ion-list>
    </div>

    <!-- Use Ionic Grid for better responsiveness -->
    <ion-grid>
      <ion-row>
        <!-- Campo di autocompletamento per il tipo di attività -->
        <ion-col size="12" size-md="6">
          <ion-item (click)="onSearchClick($event)">
            <ion-label position="stacked">Tipo di Attività</ion-label>
            <ion-searchbar [(ngModel)]="searchTerm" search-icon="clipboard-outline" 
                           (ionInput)="filterTipoAttivita($event)" 
                           (ionClear)="clearSelectedTipoAttivita()"
                           placeholder="Seleziona tipo di attività" 
                           class="custom-searchbar"
                           [disabled]="disableMod"></ion-searchbar>
          </ion-item>
          <div *ngIf="showAutocomplete && tipoAttivitaFiltered.length > 0" class="autocomplete-list">
            <ion-list>
              <ion-item *ngFor="let item of tipoAttivitaFiltered" (click)="selectTipoAttivita(item)">
                {{ item.displayValue }}
              </ion-item>
            </ion-list>
          </div>
        </ion-col>

        <!-- Campo di autocompletamento per la tipologia attività -->
        <ion-col size="12" size-md="6">
          <ion-item *ngIf="tipologiaAttivitaEnabled" (click)="onSearchTipologiaClick($event)">
            <ion-label position="stacked">Tipologia Attività</ion-label>
            <ion-searchbar [(ngModel)]="searchTermTipologia" search-icon="layers-outline" 
                           (ionInput)="filterTipologiaAttivita($event)" 
                           (ionClear)="clearSelectedTipologiaAttivita()"
                           placeholder="Seleziona tipologia attività" 
                           class="custom-searchbar"
                           [disabled]="disableMod"></ion-searchbar>
          </ion-item>
          <div *ngIf="showAutocompleteTipologia && tipologiaAttivitaFiltered.length > 0" class="autocomplete-list">
            <ion-list>
              <ion-item *ngFor="let item of tipologiaAttivitaFiltered" (click)="selectTipologiaAttivita(item)">
                {{ item.displayValue }}
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Resto del contenuto -->
    <ion-item>
      <ion-label position="stacked">Data</ion-label>
      <ion-input  [(ngModel)]="selectedDate" type="date" fill="outline"></ion-input>
    </ion-item>
    <ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Ora di inizio</ion-label>
            <ion-input  [(ngModel)]="startTime" type="time" format="24h" fill="outline"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Ora di fine</ion-label>
            <ion-input  [(ngModel)]="endTime" type="time" fill="outline"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-item *ngIf="!idRichiesta">
      <ion-label position="stacked">Attività</ion-label>
      <ion-textarea  [disabled]="disableMod" [(ngModel)]="descrizione" required placeholder="Scrivi qui l'attività da svolgere" fill="outline"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="tipo !== 'Attività'">
      <ion-label  position="stacked">Descrizione svolgimento</ion-label>
      <ion-textarea  required [(ngModel)]="note" placeholder="Scrivi qui lo svolgimento della tua attività" fill="outline"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Completata</ion-label>
      <ion-toggle [(ngModel)]="completed" slot="end"></ion-toggle>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="closeModal()">Chiudi</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" [disabled]="!selectedDate || !startTime || !endTime || (!note && (tipo === 'Rilevazione' || tipo === 'Rilevazione su attività')) || !selectedTipoAttivita || !selectedCommessa || (tipologiaAttivitaEnabled && !selectedTipologiaAttivita)" 
        (click)="execute()">Esegui</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
