<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GestioneUtenti</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="height: 600px;">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterClienti()"></ion-searchbar>
    <ion-grid>
      <ion-row class="header-row">
        <ion-col>Codice cliente</ion-col>
        <ion-col>Ragione sociale</ion-col>
        <ion-col>P.IVA</ion-col>
        <ion-col>Codice fiscale</ion-col>
      </ion-row>
    </ion-grid>

    <div style="height: calc(100% - 112px); overflow-y: auto;">
      <ion-grid>
        <ion-row *ngFor="let cliente of clienti">
          <ion-col>{{cliente.Codice_cliente}}</ion-col>
          <ion-col>{{cliente.Ragione_sociale}}</ion-col>
          <ion-col>{{cliente.PIVA}}</ion-col>
          <ion-col>{{cliente.Codice_fiscale}}</ion-col>
        </ion-row> 
      </ion-grid>
    </div>
  </ion-card>
  <ion-button expand="full" (click)="creaCliente()">
    <ion-icon slot="start" name="add"></ion-icon>
    Aggiungi cliente
  </ion-button>
</ion-content>