/* Container generale del calendario */
.calendar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  /* Contenitore della tabella per scorrimento */
  .table-container {
    padding: 0px;
    width: 100%;
    max-width: 100vw;
    height: 85vh;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .weekDay {
    z-index: 999;
    text-transform: capitalize;
}
  
  /* Tabella */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Stile per l'intestazione della tabella */
  thead th {
    text-align: center;
    padding: 2px;
    font-size: 16px;
    color: #4a4a4a;
    background-color: #e3e7ed;
    border-bottom: 2px solid #ccc;
    position: sticky; /* Rende l'intestazione sticky */
    top: 0; /* Fissa l'intestazione nella parte superiore durante lo scorrimento */
    z-index: 99; /* Assicura che l'intestazione rimanga sopra il contenuto */
}

.custom-td {
  position: relative;
}

.custom-td ion-button.add-button {
  position: absolute;
  right: 5px;    /* Distanza dal lato destro della cella */
  z-index: 40;  /* Assicura che il pulsante sia sopra gli altri elementi */
  --icon-size: 5px; /* Riduce la dimensione dell'icona */
  padding: 0;    /* Rimuovi padding extra */
  height: 24px;  /* Imposta un'altezza fissa più piccola per il pulsante */
}

.custom-td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

  
  /* Celle del corpo della tabella */
  tbody td {
    border: 1px solid #e0e4e8;
    height: 40px;
    text-align: center;
    vertical-align: top;
    width: calc(100% / 7);
  }

  .hours-col {
    width: fit-content !important;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #ffffff;
    border: solid 1px #e0e4e8;
    position: sticky; /* Rende l'intestazione sticky */
      left: 0; /* Fissa l'intestazione nella parte superiore durante lo scorrimento */
      z-index: 98; /* Assicura che l'intestazione rimanga sopra il contenuto */
  }
  
  /* Differenziazione tra ore piene e mezze ore */
  .full-hour {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .half-hour {
    font-size: 12px;
    color: #999;
  }
  
  /* Stile per le card delle attività */

  
  .activity-card {
    position: absolute;
    color: #ffffff;
    width: 100%; /* Occupa tutta la larghezza della cella */
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 50;
    left: 0px; /* Sposta leggermente a sinistra */
    top: 0;
  }
  
  .activity-card:hover {
    transform: translateY(-3px);
    filter: brightness(0.9); /* Scurisce leggermente il colore attuale */
}
  
  /* Stile per il selettore del mese e della settimana */
  .week-selector {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .month-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    flex: 1; /* Occupa lo spazio centrale */
  }
  
  ion-segment {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex: 0 1 auto; /* Larghezza fissa del segmento */
  }
  
  /* Stile per i pulsanti di navigazione */
  ion-button {
    --color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
  }
 
  
  /* Stile per il testo del mese e della settimana */
  .month-selector span, .week-selector span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0 15px;
  }
  
  /* Stile per i giorni della settimana */
  .week-selector span {
    font-size: 14px;
    font-weight: normal;
    color: #555;
    margin: 0 5px;
  }
  
  /* Responsive */
  @media (max-width: 900px) {
  
    .table-container {
      td{
        width: calc(100% / 7);
        height: 20px;
      }
      height: 75vh;
    }

    tbody td {
      width: calc(100% / 5);
    }

    thead th  {
      text-align: center;
    padding: 5px;
    font-size: 12px;
    color: #4a4a4a;
    background-color: #e3e7ed;
    border-bottom: 2px solid #ccc;
    position: sticky; /* Rende l'intestazione sticky */
    top: 0; /* Fissa l'intestazione nella parte superiore durante lo scorrimento */
    z-index: 99; /* Assicura che l'intestazione rimanga sopra il contenuto */
    }
  
    .month-selector span, .week-selector span {
      font-size: 14px;
    }
  
    .activity-card {
      font-size: 12px;
    }
    .full-hour {
      font-size: 12px;
      font-weight: bold;
      color: #333;
    }

    .half-hour {
      font-size: 10px;
      color: #999;
    }

    .custom-td ion-button.add-button {
      position: absolute;
      bottom: -9px;   /* Distanza dal fondo della cella */
      z-index: 40;  /* Assicura che il pulsante sia sopra gli altri elementi */
      --icon-size: 3px; /* Riduce la dimensione dell'icona */
      padding: 0;    /* Rimuovi padding extra */
      height: 10px;  /* Imposta un'altezza fissa più piccola per il pulsante */
      font-size: small;
    }

    
  }

  .activity-cell {
    color: #ffffff;
    text-align: center;
    vertical-align: middle; /* Per allineare il testo al centro della cella espansa */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .activity-cell {
    border-bottom: none; /* Rimuove il bordo inferiore della cella */
  }

  td {
    border: 1px solid #e0e4e8;
  }


  /* Stile per scrollbar nei browser WebKit (Chrome, Safari) */
.table-container::-webkit-scrollbar {
  width: 12px; /* Larghezza della scrollbar verticale */
  height: 12px; /* Altezza della scrollbar orizzontale */
}

/* Stile per il track della scrollbar */
.table-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Colore del track */
  border-radius: 10px; /* Angoli arrotondati */
}

/* Stile per il thumb (parte mobile della scrollbar) */
.table-container::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Colore del thumb */
  border-radius: 10px; /* Angoli arrotondati */
  border: 3px solid #f0f0f0; /* Colore del bordo per creare un effetto spaziato */
}

/* Stile per il thumb quando viene cliccato o attivo */
.table-container::-webkit-scrollbar-thumb:active {
  background-color: #909090; /* Colore più scuro quando attivo */
}

/* Stile per scrollbar in Firefox */
.table-container {
  scrollbar-width: thin; /* Larghezza sottile */
  scrollbar-color: #b0b0b0 #f0f0f0; /* Colore del thumb e del track */
}

.settings-menu {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.settings-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.settings-menu ul li {
  padding: 10px;
  cursor: pointer;
}

.settings-menu ul li:hover {
  background-color: #f0f0f0;
}

:host ::ng-deep .button-native {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

  