<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Calendario Attività</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-container">
    <!-- Selettore del mese centrato -->
    <div class="month-selector">
      <ion-button (click)="previousMonth()" fill="clear">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="weekDay">{{ currentMonth | date: 'MMMM yyyy' }}</span>
      <ion-button (click)="nextMonth()" fill="clear">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- Segmento scorrevole allineato a destra -->
    <ion-segment [(ngModel)]="selectedSegment" scrollable>
      <ion-segment-button value="attivita">
        <ion-label>{{formatString('Attività')}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rilevazioni">
        <ion-label>{{formatString('Rilevazioni')}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="calendar-container">
    <button
      style="padding: 5px; margin: 0px; background-color: rgba(240, 248, 255, 0); color:  rgb(52, 152, 219); font-size: large;"
      (click)="previousWeek()" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <div #table class="table-container" onload="windows.scroll(0,400)">
      <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let day of weekDays" class="weekDay">{{ day.date | date: 'EEEE d MMM' }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hour of displayedHours; let i = index">

            <td [ngClass]="{'full-hour': hour.endsWith(':00'), 'half-hour': hour.endsWith(':30')}" class="hours-col">
              {{ formatHour(hour) }}
            </td>
            <ng-container *ngFor="let day of weekDays">
              <td [ngClass]="{'activity-cell': getOverlappingActivities(day.date, hour).length > 0}" class="custom-td"
                (mouseenter)="showButton = { day: day.date, hour: hour }" (mouseleave)="showButton = null">
                <ng-container *ngFor="let group of getOverlappingActivities(day.date, hour)">
                  <ng-container *ngFor="let activity of group">
                    <ng-container *ngIf="activity.startHour === hour">
                      <div class="activity-card" [ngStyle]="{
                           'padding': '0px',
                           'top': calculateCardTop(activity?.startHour),
                           'height': calculateCardHeight(activity?.startHour, activity?.endHour),
                           'background-color': activity?.color,
                           'width': (100 / group.length) + '%',
                           'left': (100 / group.length * group.indexOf(activity)) + '%'
                         }" (contextmenu)="openSettingsMenu(activity, $event)">
                        <span style="font-size: small;">{{activity?.cliente}}</span><br>
                        <span style="font-size: x-small;">{{ activity?.name }}</span>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>

                

                <!-- Pulsante con icona che appare al passaggio del mouse sulla cella specifica -->
                <ion-button *ngIf="showButton?.day === day.date && showButton?.hour === hour" 
                fill="clear" 
                class="add-button" 
                color="primary" 
                size="small"
                (click)="creaAttivita(day.date, hour)">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
              </td>
            </ng-container>
           
          </tr>
          
        </tbody>
      </table>
    </div>
    <div *ngIf="showSettingsMenu" class="settings-menu" [ngStyle]="{'top': menuPosition.top, 'left': menuPosition.left}">
      <ul>
        <li (click)="editActivity()">
          <ion-icon name="create-outline"></ion-icon> Modifica Attività
        </li>
        <li (click)="creaRilevazione()">
          <ion-icon name="add-circle-outline"></ion-icon> Crea Rilevazione
        </li>
        <li (click)="deleteActivity()">
          <ion-icon name="trash-outline"></ion-icon> Elimina Attività
        </li>
        <!-- Altre opzioni -->
      </ul>
    </div>
    <button
      style="padding: 5px; margin: 0px; background-color: rgba(240, 248, 255, 0); color: rgb(52, 152, 219); font-size: large;"
      (click)="nextWeek()" fill="clear">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>

  
</ion-content>