/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.my-custom-alert .alert-wrapper {
    background: #333; 
    color: #fff; 
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@media (max-width: 1000px) {  /* Adjust max-width as needed for smaller screens */
    ion-card-content {
      font-size: 12px; /* Smaller font size for phones */
    }
  
    ion-card-content ion-col {
      font-size: 12px; /* Adjust font size for text inside columns */
      padding: 2px;
    }
  
    ion-card-content .hover-underline {
      font-size: 12px; /* Adjust font size for hoverable text */
    }
  
    ion-button {
      font-size: 14px; /* Slightly larger font for buttons */
    }
  
    pagination-controls {
      font-size: 10px; /* Smaller font size for pagination controls */
    }

    ion-card {
        margin: 2px;
    }
  }

body {
    font-family: 'Poppins', sans-serif;
}

.modal-photo{
    align-content: center;
    align-items: center;
    justify-content: center;
    --min-height: 70%;
    --min-width: 80%;
    --max-height: 75%;
    --max-width: 85%;
}
.modal-info{
    align-content: center;
    align-items: center;
    justify-content: center;
    --min-height: 70%;
    --min-width: 70%;
    --max-height: 90%;
}

.modal-esegui-ric{
    align-content: center;
    align-items: center;
    justify-content: center;
    --min-height: 85vh;
    --min-width: 60vw;
    --max-height: 95vh;
    --max-width: 80vw;
}

.p-overlaypanel{
  background: #ffffff00;
    border-radius: 6px;
    box-shadow: none;
}


.custom-popover .popover-wrapper {
    z-index: 90; /* Ensure it's on top */
  transform: none !important; /* Disable default Ionic centering */
}








/* Tema chiaro */
:root {
  --fc-bg-color: #ffffff;
  --fc-text-color: #000000;
  --fc-event-bg-color: #8ec3f9;
  --fc-event-hover-bg-color: #3f7ebe;
  --fc-today-bg-color: #00d9ff;
  --fc-toolbar-bg-color: #f8f9fa;
  --fc-toolbar-button-bg-color: #d8d8d8;
  --fc-toolbar-button-hover-bg-color: #85858528;
  --fc-border-color: #dee2e6;
  --fc-other-day-bg-color: #f0f0f0;
  --fc-other-day-text-color: #ced4da;
}

/* Stili per il tema scuro */
@media (prefers-color-scheme: dark) {
  :root {
    --fc-bg-color: #1e1e1e;
    --fc-text-color: #ffffff;
    --fc-event-bg-color: #4a90e2;
    --fc-event-hover-bg-color: #006bb3;
    --fc-today-bg-color: #0073d8a3;
    --fc-toolbar-bg-color: #333333;
    --fc-toolbar-button-bg-color: #444444;
    --fc-toolbar-button-hover-bg-color: #555555;
    --fc-border-color: #444444;
    --fc-other-day-bg-color: #2c2c2c;
    --fc-other-day-text-color: #777777;
}
}

/* Stili del calendario */
.fc {
  background-color: var(--fc-bg-color);
  color: var(--fc-text-color);
  font-family: 'Roboto', sans-serif;
  padding: 2px 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.fc-event {
  background-color: var(--fc-event-bg-color);
  color: white;
  border: none;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.fc-event:hover {
  background-color: var(--fc-event-hover-bg-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.fc-day-header {
  background-color: var(--fc-toolbar-bg-color);
  color: var(--fc-text-color);
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid var(--fc-border-color);
  padding: 10px;
  text-transform: uppercase;
}

.fc-day-header:hover {
  background-color: var(--fc-toolbar-button-hover-bg-color);
}

.fc-daygrid-day {
  background-color: var(--fc-bg-color);
  border: 1px solid var(--fc-border-color);
}

.fc-day-other {
  background-color: var(--fc-other-day-bg-color);
  color: var(--fc-other-day-text-color);
}

.fc-day-today {
  background-color: var(--fc-today-bg-color);
  color: white;
}

.fc-toolbar {
  background-color: var(--fc-toolbar-bg-color);
  margin-bottom: 20px;
}

.fc-toolbar-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--fc-text-color);
}

.fc-toolbar button {
  background-color: var(--fc-toolbar-button-bg-color);
  color: var(--fc-text-color);
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fc-toolbar button:hover {
  background-color: var(--fc-toolbar-button-hover-bg-color);
  border: solid 1px var(--fc-toolbar-button-bg-color);
}

.fc-toolbar .fc-button-primary {
  background-color: var(--fc-toolbar-button-bg-color);
  color: var(--fc-text-color);
  border-color: var(--fc-border-color);
}

.fc-toolbar .fc-button-primary:hover {
  background-color: var(--fc-toolbar-button-hover-bg-color);
  color: var(--fc-text-color);
  border-color: var(--fc-border-color);
}

.fc-list-event {
  border-bottom: 1px solid var(--fc-border-color);
  padding: 15px;
  transition: all 0.3s ease;
}

.fc-list-event:hover {
  background-color: var(--fc-toolbar-button-hover-bg-color);
  transform: scale(1.02);
}

.fc-list-event-title {
  font-weight: bold;
  color: var(--fc-text-color);
}

.fc-list-event-time {
  color: var(--fc-text-color);
}

.fc-timegrid-slot {
  height: 5px;
}

.fc .fc-timegrid-axis-cushion {
  color: var(--fc-text-color);
}

.fc .fc-timegrid-slot-label-cushion {
  color: var(--fc-text-color);
}

@media (max-width: 768px) {
  .fc {
    padding: 1px;
    height: 50vh;
  }

  .fc-toolbar-title {
    font-size: 12px;
  }

  .fc .fc-button {
    font-size: 10px;
    padding: 2px;
  }

  .fc .fc-timegrid-slot-label {
    font-size: 10px;
  }

  .fc .fc-daygrid-day-number {
    font-size: 8px;
  }

  .fc .fc-event {
    font-size: 8px;
  }

  .fc .fc-timegrid-axis-cushion {
    font-size: 12px;
  }

  .fc .fc-col-header-cell-cushion {
    font-size: 8px;
  }
}


.hidden-popover {
visibility: hidden;
opacity: 0;
pointer-events: none;
}

.tippy-box[data-theme~='custom-background'] {
  background-color: #f0f0f0; /* Imposta il colore di sfondo */
  color: #000; /* Imposta il colore del testo */
  border-radius: 8px; /* Aggiunge angoli arrotondati */
  padding: 10px; /* Aggiunge padding */
}

.tippy-box[data-theme~='custom-background'] .tippy-arrow {
  color: #f0f0f0; /* Assicurati che la freccia abbia lo stesso colore di sfondo */
}

