ion-page,
ion-content,
ion-content > div {
  height: 100%;
}

ion-content {
  --padding: 0;

  .center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    ion-button {
      width: 200px;  /* Aumenta questo valore per rendere il pulsante più largo */
      height: 100px; /* Diminuisci questo valore per rendere il pulsante meno alto */
    }
  }
}